{% extends 'base.html.twig' %}

{% block title %}nfts!{% endblock %}

{% block body %}
<br><br><br><br>
   <div class="bg-accent pt-4" style="padding-bottom: 35px;">
        <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
          <div class="d-lg-flex justify-content-between pb-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                  <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
                  <li class="breadcrumb-item text-nowrap"><a href="home-nft.html">NFT Marketplace</a>
                  </li>
                  <li class="breadcrumb-item text-nowrap active" aria-current="page">All NFTs</li>
                </ol>
              </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
              <h1 class="h3 text-light mb-0">Categories</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container pb-5 mb-2 mb-md-4">
        <!-- Toolbar-->
      
        <!-- Filters-->
        <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-between pt-lg-3 ">
          <div class="d-flex flex-wrap ">
            <!-- Categories-->

            {% for c in categories %}
            <div class="dropdown mb-lg-3 mb-2 me-lg-3 me-2 " >
              <a class="btn btn-outline-accent  w-100"  href="{{path('show_categorie',{'id':c.id})}}" >{{c.name}}</a>           
            </div>
            {% endfor %}
          
          </div> </div>
        <!-- Products grid-->
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-lg-4 pt-2">
          <!-- Product-->

          {% if posts %}
          {% for p in posts %}
          <div class="col mb-2">
            <article class="card h-100 border-0 shadow">
              <div class="card-img-top position-relative overflow-hidden"><a class="d-block" href="{{path('post_show',{'id':p.id})}}"><img src="/uploads/{{p.img}}" style="min-width:300px; max-height:300px; min-height:300px" alt="Product image"></a>
                <!-- Countdown timer-->
                 {% if p.minbet %}
                <div class="badge bg-dark m-3 fs-sm position-absolute top-0 start-0 zindex-5"><i class="ci-time me-1"></i>
                  <div class="countdown d-inline"  {# data-countdown="07/22/2022"  #}  data-countdown="{{p.datefin | date ('m/d/Y h:m:s') }}" >
                   <span class="countdown-days mb-0 me-0">
                  <span class="countdown-value">0</span><span class="countdown-label fs-lg">:</span></span>
                  <span class="countdown-hours mb-0 me-0">
                  <span class="countdown-value">0</span><span class="countdown-label fs-lg">:</span></span>
                  <span class="countdown-minutes mb-0 me-0">
                  <span class="countdown-value">0</span><span class="countdown-label fs-lg">:</span></span>
                  <span class="countdown-seconds mb-0 me-0">
                  <span class="countdown-value">0</span></span></div>
                </div>
                {% endif %}
                <!-- Wishlist button-->
                <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites" style="margin: 12px;"><i class="ci-heart"></i></button>
              </div>
              <div class="card-body">
                <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" href="nft-single-auction-live.html">{{p.title}}</a></h3>
                {% if p.minbet %}
                <span class="fs-sm text-muted">Current bid:</span>
                {% else %}
                <span class="fs-sm text-muted">Reserve price:</span>
                {% endif %}
                <div class="d-flex align-items-center flex-wrap">

                {% if p.minbet %}
                  <h4 class="mt-1 mb-0 fs-base text-darker">{{p.minbet / 100}} {{p.currencyv}}</h4><span class="mt-1 ms-1 fs-xs text-muted">(≈ $ {{p.minbet * 1155.60}})</span>
                 {% else %}
                  <h4 class="mt-1 mb-0 fs-base text-darker">{{p.price / 100}} {{p.currency}}</h4><span class="mt-1 ms-1 fs-xs text-muted">(≈ $ {{p.price * 1155.60}})</span>
                  {% endif %}
                </div>
              </div>
              <div class="card-footer mt-n1 py-0 border-0">
                <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/uploads/{{p.user.image}}" width="32" alt="img">
                <a class="nav-link-style fs-sm stretched-link" href="{{path('show_user',{'id':p.user.id})}}">@{{p.user.name}}_{{p.user.lastname}}</a></div>
              </div>
            </article>
          </div>
            {% endfor %}

          {% else %}

</div>
           <div class="row  gy-sm-4 gy-3 pt-lg-4 pt-2">
          <div class="col-12">
 
          <div class="alert alert-info d-flex v-100" role="alert">
            <div class="alert-icon">
              <i class="ci-announcement"></i>
            </div>
            <div>There is not nfts found in this category.</div>
          </div> </div>

          {% endif %}
        </div>
        <hr class="mt-4 mb-3">
        <!-- Pagination-->
        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
          </ul>
          <ul class="pagination">
            <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
            <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
          </ul>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
          </ul>
        </nav>
      </div>
 
    
{% endblock %}
